aiogrpc==1.8
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.53.1
future==1.0.0
geographiclib==2.0
grpcio==1.66.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mavsdk
NavPy==1.0
numpy==2.1.0
packaging==24.1
pandas==2.3.3
pillow==10.4.0
protobuf==5.29.4
psutil==6.0.0
pymavlink==2.4.41
pyparsing==3.1.2
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3

scipy==1.14.1
sdnotify==0.3.2
six==1.16.0
tenacity==9.0.0
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.4
GitPython

sdnotify



rpi-ws281x==5.0.0

aiohttp
filterpy
netifaces
seaborn
pymap3d
nmcli
Pi5Neo