[Unit]
Description=Git Sync Service
After=wifi-manager.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/droneshow/mavsdk_drone_show/tools/update_repo_ssh.sh
User=droneshow
Restart=on-failure
RestartSec=5s

[Unit]
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
WantedBy=multi-user.target

