[Unit]
Description=Wi-Fi Manager for Drones
# Removed: After=network-online.target
# Removed: Wants=network-online.target

[Service]
ExecStart=/bin/bash /home/droneshow/mavsdk_drone_show/tools/wifi-manager/wifi-manager.sh
WorkingDirectory=/home/droneshow/mavsdk_drone_show/tools/wifi-manager
User=root
Restart=on-failure
RestartSec=10
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=wifi-manager

[Install]
WantedBy=multi-user.target
