.custom-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    /* Match background with other pages */
    color: #333;
    /* Text color */
    /* max-width: 800px; */
    /* Set a max-width to control the width of the content */
    margin: 0 auto;
    /* Center the container horizontally */
}

h1 {
    font-size: 2em;
    color: #00458b;
    /* Match header color with other pages */
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.custom-show-image {
    max-width: 100%;
    /* Ensure the image is responsive */
    height: auto;
    border: 2px solid #ccc;
    /* Optional: Add a border for better visibility */
    border-radius: 5px;
    /* Optional: Slightly round the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

p {
    font-size: 1.2em;
    color: #666;
}