/* app/dashboard/drone-dashboard/src/styles/GlobeView.css */

.globe-view-container {
    padding: 20px;
    background-color: #1e1e1e;
    /* Dark background */
    min-height: 100vh;
    color: #ffffff;
}

.globe-view-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}