/* app/dashboard/drone-dashboard/src/styles/Globe.css */

.scene-container {
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.toolbox-button,
.fullscreen-button,
.focus-button {
    position: absolute;
    top: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    z-index: 1000;
}

.toolbox-button {
    right: 15px;
}

.focus-button {
    right: 65px;
    /* Adjust spacing between buttons */
}

.fullscreen-button {
    left: 15px;
}

.toolbox-button:hover,
.fullscreen-button:hover,
.focus-button:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.2);
}


/* Rest of your styles */