/* Reset and Base Styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9fafb;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .mission-config-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading Styles */
  h2 {
    font-size: 2rem;
    color: #1f2937;
    margin-bottom: 1rem;
  }
  
  /* Content Layout */
  .content-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .drone-cards,
  .initial-launch-plot {
    flex: 1;
    min-width: 300px;
  }
  
  .drone-cards {
    max-width: 40%;
  }
  
  .initial-launch-plot {
    max-width: 60%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .content-flex {
      flex-direction: column;
    }
    .drone-cards,
    .initial-launch-plot {
      max-width: 100%;
    }
  }
  .drone-cards {
    max-height: 70vh; /* Adjust as needed */
    overflow-y: auto;
  }