.drone-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.drone-card {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    width: calc(30% - 20px);  /* 3 cards per row with a gap of 20px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}
.drone-card h3{
    cursor: pointer;

}
.drone-card:hover {
    background-color: #eaeaea;
    transform: translateY(-5px);  /* slight lift effect on hover */
}

.drone-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.drone-card .details-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;  /* You can adjust the timing for a faster/slower transition */
}

.drone-card.expanded .details-content {
    max-height: 600px; /* Adjust this value depending on the expected maximum height of your expanded content */
    overflow-y: auto;
}

.mission-selection label:hover {
    background-color: #f2f2f2; /* A subtle grey */
    cursor: pointer;
  }

  .confirmation-toast {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .mission-trigger-section {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mission-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mission-label, .delay-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .mission-dropdown, .delay-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .mission-button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .send-command {
    background-color: #4CAF50;
    color: white;
  }
  
  .send-command:hover {
    background-color: #45a049;
  }
  
  .cancel-mission {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-mission:hover {
    background-color: #da190b;
  }
  
  .confirmation-toast {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .overview-container {
    padding: 20px;
  }
  
  .mission-trigger-section {
    margin-bottom: 20px;
  }
  
  .connected-drones-header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .drone-list {
    display: flex;
    flex-wrap: wrap;
  }
  