[Unit]
Description=Wi-Fi Manager Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/droneshow/mavsdk_drone_show/tools/wifi_manager/wifi_manager.py
Restart=always
RestartSec=5
User=root
WorkingDirectory=/home/droneshow/mavsdk_drone_show/tools/wifi_manager/
Environment="SCAN_INTERVAL=15"
Environment="SIGNAL_THRESHOLD=10"

# Optional: Redirect output to journal
# StandardOutput=journal
# StandardError=journal

[Install]
WantedBy=multi-user.target
