[Unit]
Description=LED Indicator for Drone System
Before=network-online.target
DefaultDependencies=no

[Service]
ExecStart=/home/droneshow/mavsdk_drone_show/venv/bin/python /home/droneshow/mavsdk_drone_show/led_indicator.py --color red
Restart=no
User=droneshow
Group=droneshow

[Install]
WantedBy=multi-user.target
